body {
    background-color:#dbf5fd;
    color:#2c2c2c;
    font-family: "Spoqa Han Sans";
}
.container {
    position: fixed;
    width: 900px;
    height: 600px;
    margin-left: 14%;
    margin-right: 14%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 45px;
    transform: translateY(1%);
    box-shadow:0 0 10px #71d2d24a ;

}
#id-ul-menu {
    font-size: larger;
    position: relative;
    list-style:none;
}
#id-ul-menu li{
    display: inline;
    line-height: 40px;
    float: left;
    margin: 20px 0px 0px 20px;
    opacity: 60%;
    cursor: pointer;
}
#id-ul-menu li:hover{
    border: 1px solid #dbf5fd;
    background-color: #dbf5fd;
    border-radius: 30px;
}    
#id-ul-menu li.active{
    opacity: 100%;

}
.divContainer {
    padding-top: 20px;
    position: absolute;
    margin: 110px 20px 20px 20px;
    width: 856px;
    height: 120px;
    display: none;
}
.containerActive {
    display: block;
}
#id-audio-container, #id-home-container {
    text-align: center;
}
#id-audio-container {
    margin-top: 47%;
}

.divContainer audio, button, span {
    padding: 5px;
    display: inline-block;
}
.playButtonsContainer {
    margin-top: 12px;
}
.playButtons {
    margin: 6px;
    cursor: pointer;
}
.hide {
    display: none;
}
#id-img-cover {
    display: block;
    text-align: center;
    margin: 0px auto 10px auto;
    width: 200px;
    height: 200px;
    border-radius: 13px;
}
.singer {
    font-size: 15px;
}
#id-audio-currentTime {
    float: left;
    margin-left: 25px;
}
#id-audio-duration {
    float: right;
    margin-right: 25px;
}
span#id-audio-progressBar {
    display: inline-block;
    padding: 0px;
    width: 94%;
    height: 2px;
    background-color: #2c2c2c;
    margin: 16px 2% auto 2%;
}
#id-favorite-container {
    position: absolute;
    top: 0;
    border: 1px solid #dbf5fd;
    height: 50%;
    margin-left: 4%;
    margin-top: 10%;
    padding: 10px 0px 0px 10px;
    background-color: skyblue;
    border-radius: 45px 0px 0px 45px;
}
.song {
    padding: 5px;
    cursor: pointer;
}
.song:hover {
    color: white;
}
ol#id-songList {
    list-style: decimal-leading-zero;
    width: 15%;
}
